In [22]:
#importation
import numpy as np
import pandas as pd
from textblob import TextBlob 
import re
import nltk
from pandas import DataFrame
from nrclex import NRCLex
from nltk.corpus import stopwords
stop = stopwords.words('english')

In [23]:
filePath='C:/Users/pk/Desktop/projet/analyse/data/oppo.csv'
data=pd.read_csv(filePath)
data.columns=["date", "text"]
data.head(5)

                  date                                               text
0  2021-03-30 23:56:41  b'Taking it oppo to right field for an RBI. Cr...
1  2021-03-30 23:55:30  b'...as I type, Corbs made a call to Run Suppo...
2  2021-03-30 23:52:36  b'Opening Week Oppo Taco Tuesday Baseball Triv...
3  2021-03-30 23:52:03  b'RT @KoreyHall_PG: Hayes Harrison 23\xe2\x80\...
4  2021-03-30 23:51:52  b'@josephcook89 Not the 1st to employ it but h...

In [24]:
NAN = [(c, data[c].isna().mean()*100) for c in data]
NAN = pd.DataFrame(NAN, columns=["column_name", "percentage"])
NAN.sort_values("percentage", ascending=False)

  column_name  percentage
0        date         0.0
1        text         0.0

In [25]:
#**Drop NAN Values**
data =data.dropna()

In [26]:
#**Verify NAN Values**
NAN = [(c, data[c].isna().mean()*100) for c in data]
NAN = pd.DataFrame(NAN, columns=["column_name", "percentage"])
NAN.sort_values("percentage", ascending=False)

  column_name  percentage
0        date         0.0
1        text         0.0

In [27]:
#**Convert the data into lowercase**
data["Comment"]= data["text"].str.lower()

In [28]:
#**Word Tokenization and deleting punctuation**
AComment=[]
for comment in data["Comment"].apply(str):
    Word_Tok = []
    for word in  re.sub("\W"," ",comment ).split():
        Word_Tok.append(word)
    AComment.append(Word_Tok)

In [29]:
#**Add New Column to our data**
data["Word_Tok"]= AComment
data.head()

,date,text,Comment,Word_Tok
0,2021-03-30 23:56:41,b'Taking it oppo to right field for an RBI. Cr...,b'taking it oppo to right field for an rbi. cr...,"[b, taking, it, oppo, to, right, field, for, a..."
1,2021-03-30 23:55:30,"b'...as I type, Corbs made a call to Run Suppo...","b'...as i type, corbs made a call to run suppo...","[b, as, i, type, corbs, made, a, call, to, run..."
2,2021-03-30 23:52:36,b'Opening Week Oppo Taco Tuesday Baseball Triv...,b'opening week oppo taco tuesday baseball triv...,"[b, opening, week, oppo, taco, tuesday, baseba..."
3,2021-03-30 23:52:03,b'RT @KoreyHall_PG: Hayes Harrison 23\xe2\x80\...,b'rt @koreyhall_pg: hayes harrison 23\xe2\x80\...,"[b, rt, koreyhall_pg, hayes, harrison, 23, xe2..."
4,2021-03-30 23:51:52,b'@josephcook89 Not the 1st to employ it but h...,b'@josephcook89 not the 1st to employ it but h...,"[b, josephcook89, not, the, 1st, to, employ, i..."

In [30]:
#**Delete StopWords**
        
description_list =[]
for description in data['Word_Tok']:
   
    description=[word for word in description if not word in set(stopwords.words("english"))]
    lemma=nltk.WordNetLemmatizer()
    description=[lemma.lemmatize(word) for word in description]
    description=" ".join(description)
    description_list.append(description)

In [31]:
#**Add new Column: Comment after preprocessing**

data["CommentAferPreproc"]=description_list
data.head()

,date,text,Comment,Word_Tok,CommentAferPreproc
0,2021-03-30 23:56:41,b'Taking it oppo to right field for an RBI. Cr...,b'taking it oppo to right field for an rbi. cr...,"[b, taking, it, oppo, to, right, field, for, a...",b taking oppo right field rbi crimson came tog...
1,2021-03-30 23:55:30,"b'...as I type, Corbs made a call to Run Suppo...","b'...as i type, corbs made a call to run suppo...","[b, as, i, type, corbs, made, a, call, to, run...",b type corbs made call run support hit oppo tr...
2,2021-03-30 23:52:36,b'Opening Week Oppo Taco Tuesday Baseball Triv...,b'opening week oppo taco tuesday baseball triv...,"[b, opening, week, oppo, taco, tuesday, baseba...",b opening week oppo taco tuesday baseball triv...
3,2021-03-30 23:52:03,b'RT @KoreyHall_PG: Hayes Harrison 23\xe2\x80\...,b'rt @koreyhall_pg: hayes harrison 23\xe2\x80\...,"[b, rt, koreyhall_pg, hayes, harrison, 23, xe2...",b rt koreyhall_pg hayes harrison 23 xe2 x80 x9...
4,2021-03-30 23:51:52,b'@josephcook89 Not the 1st to employ it but h...,b'@josephcook89 not the 1st to employ it but h...,"[b, josephcook89, not, the, 1st, to, employ, i...",b josephcook89 1st employ xe2 x80 x99s pretty ...

In [32]:
#**Sentiment Analysis with TextBlob**

senti_list = []
for i in data["CommentAferPreproc"]:
   # vs=te.get_emotion(i)
    vs = TextBlob(i).sentiment[0]
    if (vs > 0):
        senti_list.append('Positive')
    elif (vs < 0):
        senti_list.append('Negative')
    else:
        senti_list.append('Neutral')

In [13]:
#**Add Column: Sentiment**
data["sentiment"]=senti_list
data.head()

,date,text,Comment,Word_Tok,CommentAferPreproc,sentiment
0,2021-03-30 23:56:41,b'Taking it oppo to right field for an RBI. Cr...,b'taking it oppo to right field for an rbi. cr...,"[b, taking, it, oppo, to, right, field, for, a...",b taking oppo right field rbi crimson came tog...,Positive
1,2021-03-30 23:55:30,"b'...as I type, Corbs made a call to Run Suppo...","b'...as i type, corbs made a call to run suppo...","[b, as, i, type, corbs, made, a, call, to, run...",b type corbs made call run support hit oppo tr...,Neutral
2,2021-03-30 23:52:36,b'Opening Week Oppo Taco Tuesday Baseball Triv...,b'opening week oppo taco tuesday baseball triv...,"[b, opening, week, oppo, taco, tuesday, baseba...",b opening week oppo taco tuesday baseball triv...,Neutral
3,2021-03-30 23:52:03,b'RT @KoreyHall_PG: Hayes Harrison 23\xe2\x80\...,b'rt @koreyhall_pg: hayes harrison 23\xe2\x80\...,"[b, rt, koreyhall_pg, hayes, harrison, 23, xe2...",b rt koreyhall_pg hayes harrison 23 xe2 x80 x9...,Neutral
4,2021-03-30 23:51:52,b'@josephcook89 Not the 1st to employ it but h...,b'@josephcook89 not the 1st to employ it but h...,"[b, josephcook89, not, the, 1st, to, employ, i...",b josephcook89 1st employ xe2 x80 x99s pretty ...,Positive

In [14]:
text=" ".join(data['CommentAferPreproc'])
text_object = NRCLex(text)

In [15]:
sentiment_scores = pd.DataFrame(list(text_object.raw_emotion_scores.items()))
sentiment_scores = sentiment_scores.rename(columns={0: "Sentiment", 1: "Count"})
sentiment_scores

      Sentiment  Count
0      positive   3134
1       disgust    684
2      negative   1889
3         anger    891
4         trust   2029
5  anticipation   1466
6           joy   1042
7      surprise    497
8          fear   1063
9       sadness    563

In [16]:
sentiment_words = pd.DataFrame(list(text_object.affect_dict.items()),columns = ['words','sentiments'])
sentiment_words
#sentiment_words.to_csv('C:/Users/pk/Desktop/projet/analyse/out_data/tweetWordSentiment.csv')

          words                 sentiments
0           job                 [positive]
1           boy        [disgust, negative]
2           hit          [anger, negative]
3         solid                 [positive]
4        employ                    [trust]
..          ...                        ...
510    forcibly    [anger, fear, negative]
511  indictment           [fear, negative]
512    pandemic  [fear, negative, sadness]
513      reason                 [positive]
514      extend                 [positive]

[515 rows x 2 columns]

In [17]:
sentiment = sentiment_scores['Sentiment'].to_list()
sentiment

['positive',
 'disgust',
 'negative',
 'anger',
 'trust',
 'anticipation',
 'joy',
 'surprise',
 'fear',
 'sadness']

In [18]:
for y in sentiment:
    sentiment_words[y] = 9
sentiment_words

,words,sentiments,positive,disgust,negative,anger,trust,anticipation,joy,surprise,fear,sadness
0,job,[positive],9,9,9,9,9,9,9,9,9,9
1,boy,"[disgust, negative]",9,9,9,9,9,9,9,9,9,9
2,hit,"[anger, negative]",9,9,9,9,9,9,9,9,9,9
3,solid,[positive],9,9,9,9,9,9,9,9,9,9
4,employ,[trust],9,9,9,9,9,9,9,9,9,9
...,...,...,...,...,...,...,...,...,...,...,...,...
510,forcibly,"[anger, fear, negative]",9,9,9,9,9,9,9,9,9,9
511,indictment,"[fear, negative]",9,9,9,9,9,9,9,9,9,9
512,pandemic,"[fear, negative, sadness]",9,9,9,9,9,9,9,9,9,9
513,reason,[positive],9,9,9,9,9,9,9,9,9,9
514,extend,[positive],9,9,9,9,9,9,9,9,9,9

In [19]:
a=0
for i in sentiment_words['sentiments']: 
    for y in sentiment:
        sentiment_words[y][a] = int(y in i)
    a=a+1

C:\Users\pk\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [20]:
sentiment_words.head(5)

,words,sentiments,positive,disgust,negative,anger,trust,anticipation,joy,surprise,fear,sadness
0,job,[positive],1,0,0,0,0,0,0,0,0,0
1,boy,"[disgust, negative]",0,1,1,0,0,0,0,0,0,0
2,hit,"[anger, negative]",0,0,1,1,0,0,0,0,0,0
3,solid,[positive],1,0,0,0,0,0,0,0,0,0
4,employ,[trust],0,0,0,0,1,0,0,0,0,0

In [21]:
for y in sentiment:
    word_list = sentiment_words[sentiment_words[y]== 1].words.head(10)
    print(f"Sentiment:{y}")
    print(f"{word_list.values}\n")

Sentiment:positive
['job' 'solid' 'pretty' 'good' 'cool' 'corporation' 'lead' 'join' 'giving'
 'brilliant']

Sentiment:disgust
['boy' 'dirty' 'possession' 'goo' 'hate' 'despise' 'incase' 'awful' 'shit'
 'resign']

Sentiment:negative
['boy' 'hit' 'critic' 'challenge' 'forget' 'scandal' 'risk' 'dirty' 'case'
 'kick']

Sentiment:anger
['hit' 'bear' 'challenge' 'kick' 'battery' 'possession' 'shot' 'hate'
 'despise' 'incase']

Sentiment:trust
['employ' 'pretty' 'good' 'corporation' 'team' 'brilliant' 'flagship'
 'diary' 'happy' 'trust']

Sentiment:anticipation
['pretty' 'good' 'ready' 'brilliant' 'harvest' 'happy' 'risk' 'watch'
 'time' 'network']

Sentiment:joy
['pretty' 'good' 'brilliant' 'diary' 'harvest' 'happy' 'gorgeous' 'proud'
 'deal' 'create']

Sentiment:surprise
['good' 'surprised' 'deal' 'marvel' 'shot' 'catch' 'liberty' 'score'
 'suddenly' 'labor']

Sentiment:fear
['bear' 'challenge' 'scandal' 'risk' 'hiding' 'case' 'watch' 'possession'
 'conspiracy' 'giant']

Sentiment:sadness
['case' 'cry' 'shot' 'hate' 'problem' 'bottom' 'incase' 'awful' 'crazy'
 'bomb']