In [1]:
#importation
import numpy as np
import pandas as pd
from textblob import TextBlob 
import re
import nltk
from pandas import DataFrame
from nrclex import NRCLex
from nltk.corpus import stopwords
stop = stopwords.words('english')

In [2]:
filePath='C:/Users/pk/Desktop/projet/analyse/data/iphone.csv'
data=pd.read_csv(filePath)
data.columns=["date", "text"]
data.head(5)

                  date                                               text
0  2021-04-01 23:59:32  b"RT @_PLICE: \xf0\x9f\xa4\xa3\xf0\x9f\xa4\xa3...
1  2021-04-01 23:59:32  b'RT @twinkologian: sza the type to say she go...
2  2021-04-01 23:59:29  b'Check out this product from the Apple Store:...
3  2021-04-01 23:59:28  b'I\xe2\x80\x99ve had a great birthday so far!...
4  2021-04-01 23:59:21  b'I go on vacation for the first time in well ...

In [3]:
NAN = [(c, data[c].isna().mean()*100) for c in data]
NAN = pd.DataFrame(NAN, columns=["column_name", "percentage"])
NAN.sort_values("percentage", ascending=False)

  column_name  percentage
0        date         0.0
1        text         0.0

In [4]:
#**Drop NAN Values**
data =data.dropna()

In [5]:
#**Verify NAN Values**
NAN = [(c, data[c].isna().mean()*100) for c in data]
NAN = pd.DataFrame(NAN, columns=["column_name", "percentage"])
NAN.sort_values("percentage", ascending=False)

  column_name  percentage
0        date         0.0
1        text         0.0

In [6]:
#**Convert the data into lowercase**
data["Comment"]= data["text"].str.lower()

In [7]:
#**Word Tokenization and deleting punctuation**
AComment=[]
for comment in data["Comment"].apply(str):
    Word_Tok = []
    for word in  re.sub("\W"," ",comment ).split():
        Word_Tok.append(word)
    AComment.append(Word_Tok)

In [8]:
#**Add New Column to our data**
data["Word_Tok"]= AComment
data.head()

,date,text,Comment,Word_Tok
0,2021-04-01 23:59:32,"b""RT @_PLICE: \xf0\x9f\xa4\xa3\xf0\x9f\xa4\xa3...","b""rt @_plice: \xf0\x9f\xa4\xa3\xf0\x9f\xa4\xa3...","[b, rt, _plice, xf0, x9f, xa4, xa3, xf0, x9f, ..."
1,2021-04-01 23:59:32,b'RT @twinkologian: sza the type to say she go...,b'rt @twinkologian: sza the type to say she go...,"[b, rt, twinkologian, sza, the, type, to, say,..."
2,2021-04-01 23:59:29,b'Check out this product from the Apple Store:...,b'check out this product from the apple store:...,"[b, check, out, this, product, from, the, appl..."
3,2021-04-01 23:59:28,b'I\xe2\x80\x99ve had a great birthday so far!...,b'i\xe2\x80\x99ve had a great birthday so far!...,"[b, i, xe2, x80, x99ve, had, a, great, birthda..."
4,2021-04-01 23:59:21,b'I go on vacation for the first time in well ...,b'i go on vacation for the first time in well ...,"[b, i, go, on, vacation, for, the, first, time..."

In [9]:
#**Delete StopWords**
        
description_list =[]
for description in data['Word_Tok']:
   
    description=[word for word in description if not word in set(stopwords.words("english"))]
    lemma=nltk.WordNetLemmatizer()
    description=[lemma.lemmatize(word) for word in description]
    description=" ".join(description)
    description_list.append(description)

In [10]:
#**Add new Column: Comment after preprocessing**

data["CommentAferPreproc"]=description_list
data.head()

,date,text,Comment,Word_Tok,CommentAferPreproc
0,2021-04-01 23:59:32,"b""RT @_PLICE: \xf0\x9f\xa4\xa3\xf0\x9f\xa4\xa3...","b""rt @_plice: \xf0\x9f\xa4\xa3\xf0\x9f\xa4\xa3...","[b, rt, _plice, xf0, x9f, xa4, xa3, xf0, x9f, ...",b rt _plice xf0 x9f xa4 xa3 xf0 x9f xa4 xa3 xf...
1,2021-04-01 23:59:32,b'RT @twinkologian: sza the type to say she go...,b'rt @twinkologian: sza the type to say she go...,"[b, rt, twinkologian, sza, the, type, to, say,...",b rt twinkologian sza type say got iphone 15 x...
2,2021-04-01 23:59:29,b'Check out this product from the Apple Store:...,b'check out this product from the apple store:...,"[b, check, out, this, product, from, the, appl...",b check product apple store n nhttps co xozusg...
3,2021-04-01 23:59:28,b'I\xe2\x80\x99ve had a great birthday so far!...,b'i\xe2\x80\x99ve had a great birthday so far!...,"[b, i, xe2, x80, x99ve, had, a, great, birthda...",b xe2 x80 x99ve great birthday far mom delicio...
4,2021-04-01 23:59:21,b'I go on vacation for the first time in well ...,b'i go on vacation for the first time in well ...,"[b, i, go, on, vacation, for, the, first, time...",b go vacation first time well year think would...

In [11]:
#**Sentiment Analysis with TextBlob**

senti_list = []
for i in data["CommentAferPreproc"]:
   # vs=te.get_emotion(i)
    vs = TextBlob(i).sentiment[0]
    if (vs > 0):
        senti_list.append('Positive')
    elif (vs < 0):
        senti_list.append('Negative')
    else:
        senti_list.append('Neutral')

In [12]:
#**Add Column: Sentiment**
data["sentiment"]=senti_list
data.head()

,date,text,Comment,Word_Tok,CommentAferPreproc,sentiment
0,2021-04-01 23:59:32,"b""RT @_PLICE: \xf0\x9f\xa4\xa3\xf0\x9f\xa4\xa3...","b""rt @_plice: \xf0\x9f\xa4\xa3\xf0\x9f\xa4\xa3...","[b, rt, _plice, xf0, x9f, xa4, xa3, xf0, x9f, ...",b rt _plice xf0 x9f xa4 xa3 xf0 x9f xa4 xa3 xf...,Neutral
1,2021-04-01 23:59:32,b'RT @twinkologian: sza the type to say she go...,b'rt @twinkologian: sza the type to say she go...,"[b, rt, twinkologian, sza, the, type, to, say,...",b rt twinkologian sza type say got iphone 15 x...,Neutral
2,2021-04-01 23:59:29,b'Check out this product from the Apple Store:...,b'check out this product from the apple store:...,"[b, check, out, this, product, from, the, appl...",b check product apple store n nhttps co xozusg...,Neutral
3,2021-04-01 23:59:28,b'I\xe2\x80\x99ve had a great birthday so far!...,b'i\xe2\x80\x99ve had a great birthday so far!...,"[b, i, xe2, x80, x99ve, had, a, great, birthda...",b xe2 x80 x99ve great birthday far mom delicio...,Positive
4,2021-04-01 23:59:21,b'I go on vacation for the first time in well ...,b'i go on vacation for the first time in well ...,"[b, i, go, on, vacation, for, the, first, time...",b go vacation first time well year think would...,Positive

In [33]:
data.to_csv("C:/Users/pk/Desktop/projet/analyse/out_data/TweetIphone.csv")

In [13]:
text=" ".join(data['CommentAferPreproc'])
text_object = NRCLex(text)

In [14]:
sentiment_scores = pd.DataFrame(list(text_object.raw_emotion_scores.items()))
sentiment_scores = sentiment_scores.rename(columns={0: "Sentiment", 1: "Count"})
sentiment_scores
#sentiment_scores.to_csv('C:/Users/pk/Desktop/projet/analyse/out_data/tweetCountIphone.csv')

      Sentiment  Count
0         trust   2390
1  anticipation   3279
2      positive   5104
3           joy   2373
4      surprise   2310
5         anger   1534
6       disgust    657
7      negative   3294
8       sadness   1655
9          fear   2038

In [37]:
sentiment_words = pd.DataFrame(list(text_object.affect_dict.items()),columns = ['words','sentiments'])
sentiment_words
#sentiment_words.to_csv('C:/Users/pk/Desktop/projet/analyse/out_data/tweetWordSentiment.csv')

          words                               sentiments
0        school                                  [trust]
1         store                 [anticipation, positive]
2      birthday  [anticipation, joy, positive, surprise]
3     delicious                          [joy, positive]
4        dinner                               [positive]
...         ...                                      ...
1064      older                                [sadness]
1065       lash                  [anger, fear, negative]
1066   prepared          [anticipation, positive, trust]
1067      handy                               [positive]
1068      vomit                                [disgust]

[1069 rows x 2 columns]

In [16]:
sentiment = sentiment_scores['Sentiment'].to_list()
sentiment

['trust',
 'anticipation',
 'positive',
 'joy',
 'surprise',
 'anger',
 'disgust',
 'negative',
 'sadness',
 'fear']

In [17]:
for y in sentiment:
    sentiment_words[y] = 9
sentiment_words

,words,sentiments,trust,anticipation,positive,joy,surprise,anger,disgust,negative,sadness,fear
0,school,[trust],9,9,9,9,9,9,9,9,9,9
1,store,"[anticipation, positive]",9,9,9,9,9,9,9,9,9,9
2,birthday,"[anticipation, joy, positive, surprise]",9,9,9,9,9,9,9,9,9,9
3,delicious,"[joy, positive]",9,9,9,9,9,9,9,9,9,9
4,dinner,[positive],9,9,9,9,9,9,9,9,9,9
...,...,...,...,...,...,...,...,...,...,...,...,...
1064,older,[sadness],9,9,9,9,9,9,9,9,9,9
1065,lash,"[anger, fear, negative]",9,9,9,9,9,9,9,9,9,9
1066,prepared,"[anticipation, positive, trust]",9,9,9,9,9,9,9,9,9,9
1067,handy,[positive],9,9,9,9,9,9,9,9,9,9
1068,vomit,[disgust],9,9,9,9,9,9,9,9,9,9

In [18]:
a=0
for i in sentiment_words['sentiments']: 
    for y in sentiment:
        sentiment_words[y][a] = int(y in i)
    a=a+1

C:\Users\pk\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [19]:
sentiment_words.head(5)

,words,sentiments,trust,anticipation,positive,joy,surprise,anger,disgust,negative,sadness,fear
0,school,[trust],1,0,0,0,0,0,0,0,0,0
1,store,"[anticipation, positive]",0,1,1,0,0,0,0,0,0,0
2,birthday,"[anticipation, joy, positive, surprise]",0,1,1,1,1,0,0,0,0,0
3,delicious,"[joy, positive]",0,0,1,1,0,0,0,0,0,0
4,dinner,[positive],0,0,1,0,0,0,0,0,0,0

In [20]:
for y in sentiment:
    word_list = sentiment_words[sentiment_words[y]== 1].words.head(10)
    print(f"Sentiment:{y}")
    print(f"{word_list.values}\n")

Sentiment:trust
['school' 'green' 'happy' 'fill' 'real' 'sweet' 'finally' 'trust' 'good'
 'director']

Sentiment:anticipation
['store' 'birthday' 'vacation' 'time' 'luck' 'kiss' 'young' 'happy'
 'watch' 'sweet']

Sentiment:positive
['store' 'birthday' 'delicious' 'dinner' 'love' 'vacation' 'luck' 'kiss'
 'green' 'young']

Sentiment:joy
['birthday' 'delicious' 'love' 'vacation' 'luck' 'kiss' 'green' 'young'
 'happy' 'sweet']

Sentiment:surprise
['birthday' 'luck' 'kiss' 'mouth' 'young' 'randomly' 'shot' 'sweet'
 'finally' 'excitement']

Sentiment:anger
['damn' 'battery' 'gang' 'shot' 'defense' 'mad' 'shit' 'limited' 'deadly'
 'bad']

Sentiment:disgust
['damn' 'finally' 'mad' 'shit' 'deadly' 'bad' 'bug' 'disrespectful'
 'socialism' 'nasty']

Sentiment:negative
['damn' 'battery' 'breach' 'overdo' 'wan' 'gang' 'shot' 'broke' 'bound'
 'haunt']

Sentiment:sadness
['blue' 'wan' 'shot' 'broke' 'mad' 'case' 'limited' 'deadly' 'bad' 'sadly']

Sentiment:fear
['wan' 'gang' 'watch' 'shot' 'broke' 'military' 'haunt' 'alarm' 'defense'
 'mad']