In [34]:
import matplotlib.pyplot as plt
import cufflinks as cf
import plotly
import plotly.express as px
import numpy as np
import pandas as pd
from textblob import TextBlob 
import re
import nltk
import plotly.graph_objs as go
import random
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib.image as mpimg

from matplotlib.offsetbox import (TextArea, DrawingArea, OffsetImage,
                                  AnnotationBbox)
from matplotlib.cbook import get_sample_data
from wordcloud import WordCloud,STOPWORDS
from sklearn.feature_extraction.text import CountVectorizer
from pandas import DataFrame
from PIL import Image
from plotly import tools
from plotly.offline import init_notebook_mode,iplot,plot
from nrclex import NRCLex
from nltk.corpus import stopwords
from colorama import Fore, Back, Style

stop = stopwords.words('english')

In [19]:
filePath='C:/Users/pk/Desktop/projet/analyse/data/samsungtweet.csv'
data=pd.read_csv(filePath)
data.columns=["date", "text"]
data.head(5)

                  date                                               text
0  2021-03-19 23:59:44  b'@TrethanSW And it doesn\xe2\x80\x99t have al...
1  2021-03-19 23:59:31  b'SAMSUNG GALAXY A52 UNBOXING and GIVEAWAY\xf0...
2  2021-03-19 23:59:28  b'Samsung Galaxy A51 5G, Galaxy A71 5G Get And...
3  2021-03-19 23:58:54  b"RT @FromKorea5: Samsung Galaxy Z Fold 2 Whit...
4  2021-03-19 23:58:51  b"RT @WhitestoneChina: \xe2\x9d\x94\xe2\x9d\x9...

In [21]:
NAN = [(c, data[c].isna().mean()*100) for c in data]
NAN = pd.DataFrame(NAN, columns=["column_name", "percentage"])
NAN.sort_values("percentage", ascending=False)

  column_name  percentage
0        date         0.0
1        text         0.0

In [22]:
#**Drop NAN Values**
data =data.dropna()

In [23]:
#**Verify NAN Values**
NAN = [(c, data[c].isna().mean()*100) for c in data]
NAN = pd.DataFrame(NAN, columns=["column_name", "percentage"])
NAN.sort_values("percentage", ascending=False)

  column_name  percentage
0        date         0.0
1        text         0.0

In [24]:
#**Convert the data into lowercase**
data["Comment"]= data["text"].str.lower()

In [25]:
#**Word Tokenization and deleting punctuation**
AComment=[]
for comment in data["Comment"].apply(str):
    Word_Tok = []
    for word in  re.sub("\W"," ",comment ).split():
        Word_Tok.append(word)
    AComment.append(Word_Tok)

In [26]:
#**Add New Column to our data**
data["Word_Tok"]= AComment
data.head()

,date,text,Comment,Word_Tok
0,2021-03-19 23:59:44,b'@TrethanSW And it doesn\xe2\x80\x99t have al...,b'@trethansw and it doesn\xe2\x80\x99t have al...,"[b, trethansw, and, it, doesn, xe2, x80, x99t,..."
1,2021-03-19 23:59:31,b'SAMSUNG GALAXY A52 UNBOXING and GIVEAWAY\xf0...,b'samsung galaxy a52 unboxing and giveaway\xf0...,"[b, samsung, galaxy, a52, unboxing, and, givea..."
2,2021-03-19 23:59:28,"b'Samsung Galaxy A51 5G, Galaxy A71 5G Get And...","b'samsung galaxy a51 5g, galaxy a71 5g get and...","[b, samsung, galaxy, a51, 5g, galaxy, a71, 5g,..."
3,2021-03-19 23:58:54,"b""RT @FromKorea5: Samsung Galaxy Z Fold 2 Whit...","b""rt @fromkorea5: samsung galaxy z fold 2 whit...","[b, rt, fromkorea5, samsung, galaxy, z, fold, ..."
4,2021-03-19 23:58:51,"b""RT @WhitestoneChina: \xe2\x9d\x94\xe2\x9d\x9...","b""rt @whitestonechina: \xe2\x9d\x94\xe2\x9d\x9...","[b, rt, whitestonechina, xe2, x9d, x94, xe2, x..."

In [29]:
#**set of Spacy's default stop words and delete negation words**

stop_words=set(stop)

deselect_stop_words = ['n\'', 'ne','pas','plus','personne','aucun','ni','aucune','rien']
for w in deselect_stop_words:
    if w in stop_words:
        stop_words.remove(w)
    else:
        continue
        
        
description_list =[]
for description in df['normalized_text']:
    description=re.sub("[^a-zA-Z]", " ", description)
    description=description.lower()
    description=nltk.word_tokenize(description)
    description=[word for word in description if not word in set(stopwords.words("english"))]
    lemma=nltk.WordNetLemmatizer()
    description=[lemma.lemmatize(word) for word in description]
    description=" ".join(description)
    description_list.append(description)
df["normalized_text_new"]=description_list
df.head(5)

In [30]:
#**Delete StopWords**

AllfilteredComment=[]
for comment in data["Word_Tok"]:
    filteredComment = [w for w in comment if not ((w in stop_words) or (len(w) == 1))]
    AllfilteredComment.append(' '.join(filteredComment))

In [31]:
#**Add new Column: Comment after preprocessing**

data["CommentAferPreproc"]=AllfilteredComment
data.head()

,date,text,Comment,Word_Tok,CommentAferPreproc
0,2021-03-19 23:59:44,b'@TrethanSW And it doesn\xe2\x80\x99t have al...,b'@trethansw and it doesn\xe2\x80\x99t have al...,"[b, trethansw, and, it, doesn, xe2, x80, x99t,...",trethansw xe2 x80 x99t bloat ware companies ad...
1,2021-03-19 23:59:31,b'SAMSUNG GALAXY A52 UNBOXING and GIVEAWAY\xf0...,b'samsung galaxy a52 unboxing and giveaway\xf0...,"[b, samsung, galaxy, a52, unboxing, and, givea...",samsung galaxy a52 unboxing giveaway xf0 x9f x...
2,2021-03-19 23:59:28,"b'Samsung Galaxy A51 5G, Galaxy A71 5G Get And...","b'samsung galaxy a51 5g, galaxy a71 5g get and...","[b, samsung, galaxy, a51, 5g, galaxy, a71, 5g,...",samsung galaxy a51 5g galaxy a71 5g get androi...
3,2021-03-19 23:58:54,"b""RT @FromKorea5: Samsung Galaxy Z Fold 2 Whit...","b""rt @fromkorea5: samsung galaxy z fold 2 whit...","[b, rt, fromkorea5, samsung, galaxy, z, fold, ...",rt fromkorea5 samsung galaxy fold whitestone d...
4,2021-03-19 23:58:51,"b""RT @WhitestoneChina: \xe2\x9d\x94\xe2\x9d\x9...","b""rt @whitestonechina: \xe2\x9d\x94\xe2\x9d\x9...","[b, rt, whitestonechina, xe2, x9d, x94, xe2, x...",rt whitestonechina xe2 x9d x94 xe2 x9d x94 xe2...

In [92]:
#**Sentiment Analysis with TextBlob**

senti_list = []
for i in data["CommentAferPreproc"]:
   # vs=te.get_emotion(i)
    vs = TextBlob(i).sentiment[0]
    if (vs > 0):
        senti_list.append('Positive')
    elif (vs < 0):
        senti_list.append('Negative')
    else:
        senti_list.append('Neutral')

In [94]:
#**Add Column: Sentiment**
data["sentiment"]=senti_list
data.head()

,date,text,Comment,Word_Tok,CommentAferPreproc,sentiment
0,2021-03-19 23:59:44,b'@TrethanSW And it doesn\xe2\x80\x99t have al...,b'@trethansw and it doesn\xe2\x80\x99t have al...,"[b, trethansw, and, it, doesn, xe2, x80, x99t,...",trethansw xe2 x80 x99t bloat ware companies ad...,Negative
1,2021-03-19 23:59:31,b'SAMSUNG GALAXY A52 UNBOXING and GIVEAWAY\xf0...,b'samsung galaxy a52 unboxing and giveaway\xf0...,"[b, samsung, galaxy, a52, unboxing, and, givea...",samsung galaxy a52 unboxing giveaway xf0 x9f x...,Positive
2,2021-03-19 23:59:28,"b'Samsung Galaxy A51 5G, Galaxy A71 5G Get And...","b'samsung galaxy a51 5g, galaxy a71 5g get and...","[b, samsung, galaxy, a51, 5g, galaxy, a71, 5g,...",samsung galaxy a51 5g galaxy a71 5g get androi...,Neutral
3,2021-03-19 23:58:54,"b""RT @FromKorea5: Samsung Galaxy Z Fold 2 Whit...","b""rt @fromkorea5: samsung galaxy z fold 2 whit...","[b, rt, fromkorea5, samsung, galaxy, z, fold, ...",rt fromkorea5 samsung galaxy fold whitestone d...,Positive
4,2021-03-19 23:58:51,"b""RT @WhitestoneChina: \xe2\x9d\x94\xe2\x9d\x9...","b""rt @whitestonechina: \xe2\x9d\x94\xe2\x9d\x9...","[b, rt, whitestonechina, xe2, x9d, x94, xe2, x...",rt whitestonechina xe2 x9d x94 xe2 x9d x94 xe2...,Neutral

In [116]:
'''#**Sentiment Analysis with NRCLex**

all_senti = []
for i in data["CommentAferPreproc"]:
   # vs=te.get_emotion(i)
    vs = NRCLex(i)
    score=vs.affect_frequencies
    if (score['fear'] > 0):
        all_senti.append('fear')
    if (score['anger'] > 0):
        all_senti.append('anger')
    if (score['disgust'] > 0):
        all_senti.append('disgust')
    if (score['sadness'] > 0):
        all_senti.append('sadness')
    if (score['trust'] > 0):
        all_senti.append('trust')
    if (score['joy'] > 0):
        all_senti.append('joy')
    #if (score['surprise'] > 0):
     #      all_senti.append('surprise')
    '''

'#**Sentiment Analysis with NRCLex**\n\nall_senti = []\nfor i in data["CommentAferPreproc"]:\n   # vs=te.get_emotion(i)\n    vs = NRCLex(i)\n    score=vs.affect_frequencies\n    if (score[\'fear\'] > 0):\n        all_senti.append(\'fear\')\n    if (score[\'anger\'] > 0):\n        all_senti.append(\'anger\')\n    if (score[\'disgust\'] > 0):\n        all_senti.append(\'disgust\')\n    if (score[\'sadness\'] > 0):\n        all_senti.append(\'sadness\')\n    if (score[\'trust\'] > 0):\n        all_senti.append(\'trust\')\n    if (score[\'joy\'] > 0):\n        all_senti.append(\'joy\')\n    #if (score[\'surprise\'] > 0):\n     #      all_senti.append(\'surprise\')\n    '

In [112]:
text=" ".join(data['CommentAferPreproc'])
text_object = NRCLex(text)

In [113]:
sentiment_words = pd.DataFrame(list(text_object.affect_dict.items()),columns = ['words','sentiments'])
sentiment_words

         words                                 sentiments
0         ware                           [fear, negative]
1         hate  [anger, disgust, fear, negative, sadness]
2    protector                          [positive, trust]
3        watch                       [anticipation, fear]
4         time                             [anticipation]
..         ...                                        ...
407       fawn                                 [negative]
408      nerve                                 [positive]
409     serene                          [negative, trust]
410       fore                                 [positive]
411      merry                            [joy, positive]

[412 rows x 2 columns]

In [115]:
sentiment_scores = pd.DataFrame(list(text_object.raw_emotion_scores.items()))
sentiment_scores = sentiment_scores.rename(columns={0: "Sentiment", 1: "Count"})
sentiment_scores

      Sentiment  Count
0          fear    248
1      negative    322
2         anger    197
3       disgust    141
4       sadness    174
5      positive    811
6         trust    465
7  anticipation    388
8           joy    198
9      surprise    169