In [21]:
#importation
import numpy as np
import pandas as pd
from textblob import TextBlob 
import re
import nltk
from pandas import DataFrame
from nrclex import NRCLex
from nltk.corpus import stopwords
stop = stopwords.words('english')

In [22]:
filePath='C:/Users/pk/Desktop/projet/analyse/data/XIAOMI.csv'
data=pd.read_csv(filePath)
data.columns=["date", "text"]
data.head(5)

                  date                                               text
0  2021-03-30 23:59:10  b'RT @1David_Miller: See you tomorrow at 9 am ...
1  2021-03-30 23:58:56  b'See you tomorrow at 9 am EST sharp! @Xiaomi ...
2  2021-03-30 23:58:53  b'RT @Xiaomi: #MiMIXFOLD is proudly manufactur...
3  2021-03-30 23:58:31  b'A 1.1-inch AMOLED display sits beside the 3-...
4  2021-03-30 23:56:52  b'RT @ishanagarwal24: MI MIX Fold By Xiaomi\n\...

In [23]:
NAN = [(c, data[c].isna().mean()*100) for c in data]
NAN = pd.DataFrame(NAN, columns=["column_name", "percentage"])
NAN.sort_values("percentage", ascending=False)

  column_name  percentage
0        date         0.0
1        text         0.0

In [24]:
#**Drop NAN Values**
data =data.dropna()

In [25]:
#**Verify NAN Values**
NAN = [(c, data[c].isna().mean()*100) for c in data]
NAN = pd.DataFrame(NAN, columns=["column_name", "percentage"])
NAN.sort_values("percentage", ascending=False)

  column_name  percentage
0        date         0.0
1        text         0.0

In [26]:
#**Convert the data into lowercase**
data["Comment"]= data["text"].str.lower()

In [27]:
#**Word Tokenization and deleting punctuation**
AComment=[]
for comment in data["Comment"].apply(str):
    Word_Tok = []
    for word in  re.sub("\W"," ",comment ).split():
        Word_Tok.append(word)
    AComment.append(Word_Tok)

In [28]:
#**Add New Column to our data**
data["Word_Tok"]= AComment
data.head()

,date,text,Comment,Word_Tok
0,2021-03-30 23:59:10,b'RT @1David_Miller: See you tomorrow at 9 am ...,b'rt @1david_miller: see you tomorrow at 9 am ...,"[b, rt, 1david_miller, see, you, tomorrow, at,..."
1,2021-03-30 23:58:56,b'See you tomorrow at 9 am EST sharp! @Xiaomi ...,b'see you tomorrow at 9 am est sharp! @xiaomi ...,"[b, see, you, tomorrow, at, 9, am, est, sharp,..."
2,2021-03-30 23:58:53,b'RT @Xiaomi: #MiMIXFOLD is proudly manufactur...,b'rt @xiaomi: #mimixfold is proudly manufactur...,"[b, rt, xiaomi, mimixfold, is, proudly, manufa..."
3,2021-03-30 23:58:31,b'A 1.1-inch AMOLED display sits beside the 3-...,b'a 1.1-inch amoled display sits beside the 3-...,"[b, a, 1, 1, inch, amoled, display, sits, besi..."
4,2021-03-30 23:56:52,b'RT @ishanagarwal24: MI MIX Fold By Xiaomi\n\...,b'rt @ishanagarwal24: mi mix fold by xiaomi\n\...,"[b, rt, ishanagarwal24, mi, mix, fold, by, xia..."

In [29]:
#**Delete StopWords**
        
description_list =[]
for description in data['Word_Tok']:
   
    description=[word for word in description if not word in set(stopwords.words("english"))]
    lemma=nltk.WordNetLemmatizer()
    description=[lemma.lemmatize(word) for word in description]
    description=" ".join(description)
    description_list.append(description)

In [30]:
#**Add new Column: Comment after preprocessing**

data["CommentAferPreproc"]=description_list
data.head()

,date,text,Comment,Word_Tok,CommentAferPreproc
0,2021-03-30 23:59:10,b'RT @1David_Miller: See you tomorrow at 9 am ...,b'rt @1david_miller: see you tomorrow at 9 am ...,"[b, rt, 1david_miller, see, you, tomorrow, at,...",b rt 1david_miller see tomorrow 9 est sharp xi...
1,2021-03-30 23:58:56,b'See you tomorrow at 9 am EST sharp! @Xiaomi ...,b'see you tomorrow at 9 am est sharp! @xiaomi ...,"[b, see, you, tomorrow, at, 9, am, est, sharp,...",b see tomorrow 9 est sharp xiaomi redmi airdot...
2,2021-03-30 23:58:53,b'RT @Xiaomi: #MiMIXFOLD is proudly manufactur...,b'rt @xiaomi: #mimixfold is proudly manufactur...,"[b, rt, xiaomi, mimixfold, is, proudly, manufa...",b rt xiaomi mimixfold proudly manufactured xia...
3,2021-03-30 23:58:31,b'A 1.1-inch AMOLED display sits beside the 3-...,b'a 1.1-inch amoled display sits beside the 3-...,"[b, a, 1, 1, inch, amoled, display, sits, besi...",b 1 1 inch amoled display sits beside 3 camera...
4,2021-03-30 23:56:52,b'RT @ishanagarwal24: MI MIX Fold By Xiaomi\n\...,b'rt @ishanagarwal24: mi mix fold by xiaomi\n\...,"[b, rt, ishanagarwal24, mi, mix, fold, by, xia...",b rt ishanagarwal24 mi mix fold xiaomi n n 8 0...

In [31]:
#**Sentiment Analysis with TextBlob**

senti_list = []
for i in data["CommentAferPreproc"]:
   # vs=te.get_emotion(i)
    vs = TextBlob(i).sentiment[0]
    if (vs > 0):
        senti_list.append('Positive')
    elif (vs < 0):
        senti_list.append('Negative')
    else:
        senti_list.append('Neutral')

In [32]:
#**Add Column: Sentiment**
data["sentiment"]=senti_list
data.head()

,date,text,Comment,Word_Tok,CommentAferPreproc,sentiment
0,2021-03-30 23:59:10,b'RT @1David_Miller: See you tomorrow at 9 am ...,b'rt @1david_miller: see you tomorrow at 9 am ...,"[b, rt, 1david_miller, see, you, tomorrow, at,...",b rt 1david_miller see tomorrow 9 est sharp xi...,Negative
1,2021-03-30 23:58:56,b'See you tomorrow at 9 am EST sharp! @Xiaomi ...,b'see you tomorrow at 9 am est sharp! @xiaomi ...,"[b, see, you, tomorrow, at, 9, am, est, sharp,...",b see tomorrow 9 est sharp xiaomi redmi airdot...,Negative
2,2021-03-30 23:58:53,b'RT @Xiaomi: #MiMIXFOLD is proudly manufactur...,b'rt @xiaomi: #mimixfold is proudly manufactur...,"[b, rt, xiaomi, mimixfold, is, proudly, manufa...",b rt xiaomi mimixfold proudly manufactured xia...,Positive
3,2021-03-30 23:58:31,b'A 1.1-inch AMOLED display sits beside the 3-...,b'a 1.1-inch amoled display sits beside the 3-...,"[b, a, 1, 1, inch, amoled, display, sits, besi...",b 1 1 inch amoled display sits beside 3 camera...,Neutral
4,2021-03-30 23:56:52,b'RT @ishanagarwal24: MI MIX Fold By Xiaomi\n\...,b'rt @ishanagarwal24: mi mix fold by xiaomi\n\...,"[b, rt, ishanagarwal24, mi, mix, fold, by, xia...",b rt ishanagarwal24 mi mix fold xiaomi n n 8 0...,Positive

In [33]:
data.to_csv("C:/Users/pk/Desktop/projet/analyse/out_data/TweetXIAOMI.csv")

In [34]:
text=" ".join(data['CommentAferPreproc'])
text_object = NRCLex(text)

In [36]:
sentiment_scores = pd.DataFrame(list(text_object.raw_emotion_scores.items()))
sentiment_scores = sentiment_scores.rename(columns={0: "Sentiment", 1: "Count"})
sentiment_scores

sentiment_scores.to_csv('C:/Users/pk/Desktop/projet/analyse/out_data/tweetCountXIAOMI.csv')

In [15]:
sentiment_words = pd.DataFrame(list(text_object.affect_dict.items()),columns = ['words','sentiments'])
sentiment_words
#sentiment_words.to_csv('C:/Users/pk/Desktop/projet/analyse/out_data/tweetWordSentiment.csv')

             words                                        sentiments
0         tomorrow                                    [anticipation]
1              art  [anticipation, joy, positive, sadness, surprise]
2       technology                                        [positive]
3            array                                        [positive]
4             main                                        [positive]
..             ...                                               ...
539          break                                        [surprise]
540        warning                                            [fear]
541  inappropriate               [anger, disgust, negative, sadness]
542          leave                     [negative, sadness, surprise]
543    unbreakable                                        [positive]

[544 rows x 2 columns]

In [16]:
sentiment = sentiment_scores['Sentiment'].to_list()
sentiment

['anticipation',
 'joy',
 'positive',
 'sadness',
 'surprise',
 'anger',
 'fear',
 'negative',
 'disgust',
 'trust']

In [17]:
for y in sentiment:
    sentiment_words[y] = 9
sentiment_words

,words,sentiments,anticipation,joy,positive,sadness,surprise,anger,fear,negative,disgust,trust
0,tomorrow,[anticipation],9,9,9,9,9,9,9,9,9,9
1,art,"[anticipation, joy, positive, sadness, surprise]",9,9,9,9,9,9,9,9,9,9
2,technology,[positive],9,9,9,9,9,9,9,9,9,9
3,array,[positive],9,9,9,9,9,9,9,9,9,9
4,main,[positive],9,9,9,9,9,9,9,9,9,9
...,...,...,...,...,...,...,...,...,...,...,...,...
539,break,[surprise],9,9,9,9,9,9,9,9,9,9
540,warning,[fear],9,9,9,9,9,9,9,9,9,9
541,inappropriate,"[anger, disgust, negative, sadness]",9,9,9,9,9,9,9,9,9,9
542,leave,"[negative, sadness, surprise]",9,9,9,9,9,9,9,9,9,9
543,unbreakable,[positive],9,9,9,9,9,9,9,9,9,9

In [18]:
a=0
for i in sentiment_words['sentiments']: 
    for y in sentiment:
        sentiment_words[y][a] = int(y in i)
    a=a+1

C:\Users\pk\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [19]:
sentiment_words.head(5)

,words,sentiments,anticipation,joy,positive,sadness,surprise,anger,fear,negative,disgust,trust
0,tomorrow,[anticipation],1,0,0,0,0,0,0,0,0,0
1,art,"[anticipation, joy, positive, sadness, surprise]",1,1,1,1,1,0,0,0,0,0
2,technology,[positive],0,0,1,0,0,0,0,0,0,0
3,array,[positive],0,0,1,0,0,0,0,0,0,0
4,main,[positive],0,0,1,0,0,0,0,0,0,0

In [20]:
for y in sentiment:
    word_list = sentiment_words[sentiment_words[y]== 1].words.head(10)
    print(f"Sentiment:{y}")
    print(f"{word_list.values}\n")

Sentiment:anticipation
['tomorrow' 'art' 'magical' 'start' 'revolution' 'ram' 'wireless'
 'finally' 'perfect' 'daily']

Sentiment:joy
['art' 'electric' 'magical' 'finally' 'perfect' 'hope' 'love' 'surprise'
 'special' 'excited']

Sentiment:positive
['art' 'technology' 'array' 'main' 'electric' 'magical' 'revolution'
 'working' 'focus' 'wireless']

Sentiment:sadness
['art' 'revolution' 'cry' 'overpriced' 'dull' 'disappointment' 'problem'
 'wanting' 'death' 'evil']

Sentiment:surprise
['art' 'electric' 'magical' 'revolution' 'larger' 'wireless' 'finally'
 'hope' 'surge' 'surprise']

Sentiment:anger
['revolution' 'ram' 'wireless' 'overpriced' 'blatant' 'shoot' 'battery'
 'death' 'evil' 'cash']

Sentiment:fear
['revolution' 'nervous' 'shoot' 'surprise' 'problem' 'death' 'watch'
 'evil' 'giant' 'cash']

Sentiment:negative
['revolution' 'cry' 'ram' 'overpriced' 'blatant' 'joke' 'nervous' 'shoot'
 'wait' 'dull']

Sentiment:disgust
['larger' 'finally' 'overpriced' 'blatant' 'disappointment' 'death' 'evil'
 'powerful' 'honest' 'blame']

Sentiment:trust
['larger' 'finally' 'perfect' 'hope' 'show' 'excited' 'alive' 'green'
 'leader' 'star']